.square {
  height: 100px;
  width: 100px;
  background-color: #1e83ec;
  // background-color: #ffffff;
  border-radius: 5%;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  clear: both;
}

.activeBox {
  border: 2px solid black;
}

label {
  float: left;
  margin: 10px;
}

img {
  height: 50px;
  width: 80px;
}

.bold {
  font-size: large;
  // font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.mr-l-10 {
  margin-left: 10px;
}
.pl-4 {
  padding-left: 4em !important;
}

nav,
button {
  background-color: #1e83ec;
}

// Slider CSS

label {
  float: right;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

::ng-deep .dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
}
