<nav
  class="navbar sticky-top navbar-dark bg-primary"
  style="justify-content: center"
>
  <header class="text-center">
    <b>
      <h1>{{ title }}</h1>
    </b>
  </header>
</nav>

<div class="container col-md-auto mx-auto pl-4">
  <hr />
  <div class="row form-group">
    <label for="timein" class="bold col-2 col-2 col-2 col-2">Time In: </label>
    <label for="timeout" class="bold col-4 col-4 col-4 col-4">Time Out: </label>
  </div>
  <div class="row form-group">
    <timepicker
      class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      [showMeridian]="isMeridian"
      [(ngModel)]="timeIn"
    ></timepicker>
    <timepicker
      class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      [showMeridian]="isMeridian"
      [(ngModel)]="timeOut"
    ></timepicker>
    <a type="submit" class="underline" (click)="Addentry()" style="padding: 2em"> Add New </a>
  </div>

  <button class="btn btn-primary mr-l-10" (click)="onSave()" type="submit">
    Save
  </button>

  <hr>
  <!-- GRID -->

  <div id="data-grid-demo">
    <dx-data-grid [dataSource]="dataSource">
      <dxi-column
      dataField="in"
      caption="In"
      [allowEditing]="false"
      dataType="datetime"
      >
      </dxi-column>
      <dxi-column
        dataField="out"
        caption="Out"
        [allowEditing]="false"
        dataType="datetime"
      >
      </dxi-column>
      <dxi-column
        dataField="duration"
        caption="Duration"
        [allowEditing]="false"
        dataType="number"
      >
      </dxi-column>
      <dxo-filter-row [visible]="true"> </dxo-filter-row>
      <dxo-editing mode="popup" [allowDeleting]="true">
        <dxo-popup [width]="700" [height]="345"> </dxo-popup>
      </dxo-editing>
    </dx-data-grid>
  </div>
</div>

<div class="container text-center col-md-auto">
  <hr />
</div>
